POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=beacon
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
CLERK_ISSUER=
DEV_AUTH_DISABLED=True
OPENAI_API_KEY=
